body {
  font-family: 'Roboto', 'sans-serif';
  line-height: 150%;
  font-size: 16px
}

. {
  width: 100%;
  border: 2px solid red;
  border-collapse: collapse; 
} 

.first-table_th {
  border: 1px solid blue;
  font-size: 18px;
  padding: 10px;
  text-align: left; 
  font-weight: bold; 
}

.first-table_td {
  border: 1px solid green;
  font-size: 14px;
  padding: 10px;
  text-align: left; 
  font-weight: 400;
}

h1 {
  font-size: 250%;
  font-weight: bold;
}

h2 {
  font-size: 200%;
  font-weight: bold;
}

h3 {
  font-size: 150%;
  font-weight: bold;
}

h4 {
  font-size: 100%;
  font-weight: bold;
}

img {
  display: block;
  margin: 0 auto;
  width: 200px;
  height: 150px; 
  object-fit: cover;
  text-align: center;
  box-sizing: border-box;
} 
