body {
  font-family: 'Roboto', 'sans-serif';
  line-height: 1.5;
  font-size: 16px
}

.first-table {
  width: 1;
  border: 2px solid red;
  border-collapse: collapse; 
} 

.first-table_th {
  border: 1px solid blue;
  font-size: 18px;
  padding: 10px;
  text-align: left; 
  font-weight: bold; 
}

.first-table_td {
  border: 1px solid green;
  font-size: 14px;
  padding: 10px;
  text-align: left; 
  font-weight: 400;
}

h1, h2, h3, h4 {
  font-weight: bold;
} 

h1 {
  font-size: 2.5;
}

h2 {
  font-size: 2.0;
}

h3 {
  font-size: 1.5;
}

h4 {
  font-size: 1.0;
} 

img {
  display: block;
  margin: 0 auto;
  width: 200px;
  height: 150px; 
  object-fit: cover;
  box-sizing: border-box;
} 
